*{
    padding: 0; margin: 0;
}

#geral{
    position: relative; 
}

#areaJogo{
    background-color: black; border: solid 1px red;margin: 0 auto;
}

#pecas{
   width: auto;
   height: auto
}

#col div, #row div, #row, #col, #pecas{
    position: absolute;
}

.grid-col{
    border-left: solid 1px gray;
}

.grid-col:last-child{
    border-right: solid 1px gray;
}

.grid-row{
    border-top: solid 1px gray;
}

.grid-row:last-child{
    border-bottom: solid 1px gray;
}

.square{
    border: 1px solid #000; position: absolute; 
    /*transition: top 0.2s linear;*/
}